<%- include("header"); -%>





    <section class="">
        <div id="heading">
            <div class="logo pb-4">
                <img src="images/checklist-pngrepo-com.png" class="logo" alt="">
            </div>
            <h1>
                <%= listTitle %>
            </h1>
        </div>
        
        <form class="items" action="/" method="post">
            <input placeholder="New Item" type="text" name="newItem" autocomplete="off">
        
            <button class="btn btn-dark" type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
        
        <div class="box">


            <% newListItems.forEach((item) =>{ %>
                <div class="item">
                    <input type="checkbox" name="" id="">
                    <p> <%= item.name %> </p>
                </div>
            <% }) %>

        </div>
    </section>

    


<%- include("footer"); -%>