<%- include("header"); -%>





    <section class="">
        <div id="heading">
            <div class="logo pb-4">
                <img src="images/checklist-pngrepo-com.png" class="logo" alt="">
            </div>
            <h1>
                <%= listTitle %>
            </h1>
        </div>
        
        <form class="items" action="/" method="post">
            <input placeholder="New Item" type="text" name="newItem" autocomplete="off">
        
            <button class="btn btn-dark" type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
        
        <div class="box">


            <% newListItems.forEach((item) =>{ %>
                <form action="/delete" method="POST">
                    <div class="item">
                        <input type="checkbox" value="<%= item._id %>" onChange="this.form.submit()" name="deleteItem" id="">
                        <p>
                            <%= item.name %>
                        </p>
                    </div>
                </form>
            <% }) %>

        </div>
    </section>

    


<%- include("footer"); -%>